.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #282c34;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

.App-header {
  background-color: darkslategray;
  // min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: ghostwhite;
  cursor: default;
}

.App-sidebar {
  width: 17rem;
  height: 100%;
  background-color: #332233;
  color: skyblue;
  cursor: default;

  svg {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  li {
    margin: .75em 0;
  }
}

svg {
  width: 100%;
  height: 100%;
  background-color: #282c34;
}

ellipse {
  fill: purple;
  stroke: black;
}

rect {
  fill: purple;
  stroke: black;
  cursor: move;
}

foreignObject {
  width: 5rem;
  height: 3rem;
  font-size: 0.25rem;
  cursor: move;

  div {
    height: 2.8rem;
    border: .1rem solid darkgreen;
    background-color: khaki;

    header {
      height: 15%;
      padding: .25em;
      background-color: olive;
      color: ghostwhite;
      font-size: 150%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: move;
    }

    article {
      height: 85%;
      padding: 1em;
      word-break: break-all;
    }
  }
}
