


.hidden {
  display: none;
}

.App {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  word-break: break-word;
  cursor: default;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;

  .bg-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: center / cover no-repeat black url('./assets/images/bg.png');
    // background: center / cover no-repeat black url('./assets/images/mountain.gif');
    // background: center / cover no-repeat black url('./assets/images/waterfall.gif');
    // background: center / cover no-repeat black url('./assets/images/shooting-stars.gif');
    // background: center / cover no-repeat black url('./assets/images/overcast-forest.png');
    // background: center / contain no-repeat black url('./assets/images/bg.png'), 100% url('./assets/images/rooster.png');
    opacity: .25;
  }

  svg {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
  }
}
