.app-header {
  background-color: rebeccapurple;
  min-height: 1.75em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: ghostwhite;
  text-shadow: 2px 2px 2px black, 2px 2px 2px black;
}
