.session-status {
  z-index: 10;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  color: ghostwhite;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow:
  .1em .1em .1em black, -.1em .1em .1em black, .1em -.1em .1em black, -.1em -.1em .1em black,
    0 0 .5em gray, 0 0 1em gray,
    0 0 .5em gray, 0 0 1em gray;

  .turn {
    padding-right: 1em;
    display: inline-block;
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .current {
    color: lightgreen;
  }

  .next {
    color: lightblue;
    font-size: 75%;
  }
}
