[Unit]
Description=Give'rBoard
Requires=local-fs.target
After=network.target
Wants=network-online.target
#Wants=nginx.service
StartLimitBurst=3
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/var/www/node/giverboard/server/giverboard
WorkingDirectory=/var/www/node/giverboard/server
User=giverboard
Group=giverboard
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Restart=always
RestartSec=5

[Install]
WantedBy=network.target
